* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    height: 100vh;
    font-family: 'Poppins', sans-serif;
}

.header {
    font-size: 32px;
    font-weight: 500;
    width: 100%;
    position: relative;
    box-shadow: 0px 2px 6px rgb(175, 175, 175);
    background-color: rgb(255, 255, 255);
}
.title {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    padding: 15px;
}
.book-display {
    background-color: rgb(238, 238, 238);
    height: 94vh;
}
.books {
    padding: 60px 30px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
}
.card {
    background-color: white;
    padding: 40px 20px;
    text-align: center;
    width: 20vh;
    height: 20vh;
    border-radius: 10px;
    box-shadow:  2px 2px 6px rgb(98, 98, 98);
}

.form {
    display: flex;
    align-items: center;
    justify-content: center;
}
.add-book-btn {
    border: none;
    font-size: 32px;
    font-weight: 500px;
    text-shadow: 2px 3px 3px rgb(175, 175, 175);
}